*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*header*/
.header{
  background-color: #117A25;
  color: #F2F2F2;
  }
  .header--div{
  text-align: center;
  }
  .header--title{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: inline-block;
  text-align: left;
  }
  .header--icon {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    margin-left: 35%;
    display: block;
    border-radius: 5px;
  }

/*main*/
.main{
  text-align: center;
  }
  .main--title{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #00420C;
    margin: 25px 0px 0px 0px;
  }
  .main--text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 25px;
    max-width: 337px;
    text-align: left;
    display: inline-block;
    margin: 25px 0px 50px 0px;
  }
  .main--lista{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    display: inline-block;
    margin: 25px 0px 50px 0px;
  }
  .main--concept{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #ffffff;
    background-color: #117A25;
    text-decoration: none;
    display: block;
    padding: 30px;
    margin: 10px auto;
    max-width: 313px;
    border-radius: 5px;
  }
  .main--four{
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    text-align: center;
    margin: 35px;
    height: 10px;
  }
  .main--title-coordinator{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #00420C;
    margin: 65px 0px 20px 0px;
  }
  .main--image{
    border-radius: 5px;
    border: 2px solid #00420C;
    width: 170px;
  }
  .main--name-coordinator{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #00420C;
    margin: 25px 0px 50px 0px;
  }
  .main--table{
    text-align: left;
    border: 1px solid #000000;
    border-collapse: collapse;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table, td, th {
    border: 1px solid black;
  }
  th {
    background-color: #E5E5E5;
  }
  
  /*footer*/
  .footer{
    text-align: center;
  }
  .footer--div{
    background-color: #00420C;
    text-align: center;
  }
  .footer--text{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #F2F2F2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin-left: 70px;
    text-align: left;
    display: inline-block;
  }
  .footer--image{
    margin-top: 30px;
    max-width: 150px;
  }
