*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*header*/
.header{
  background-color: #117A25;
  color: #F2F2F2;
  text-align: center;
  }
  .header--title{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  }
  .header--title-sub{
  font-family: 'Roboto', sans-serif;  
  font-size: 24px;
  }

/*main*/
.main{
  text-align: center;
  }
  .main--text{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  max-width: 337px;
  text-align: left;
  display: inline-block;
  }
  .main--title{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #00420C;
  }
